<!-- <section class="menu" fxLayout fxLayoutAlign="center">
<mat-card fxFlex="300px">
  <mat-card-title fxLayoutAlign="center">Styles</mat-card-title>
  <mat-card-content fxLayoutAlign="center">
      <mat-form-field>
          <mat-select placeholder="Get Slayed!">
            <mat-option value ="1st Class BlowOUT">
                1st Class BlowOUT
            </mat-option>
            <mat-option value ="Something Else">
                Something else
            </mat-option>
          </mat-select>
        </mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center">
    <button type ="submit" color="accent" mat-button>GO!</button>
  </mat-card-actions>
</mat-card>
</section> -->

<section>
    <a routerLink="/appointment">
      <h3>1st Class Blowout</h3>
    </a>
    <p>Some type of straigting shit that these women will pay $60 - $100 for and walk off with enormous smiles</p>
</section>


