<section fxLayout="column" fxLayoutAlign="center center">
    <p>Experience</p>
</section>
  <form fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field color="accent">
        <input 
          matInput placeholder="Appointment Date"
          [matDatepicker]="scheduler">
        <mat-datepicker-toggle matSuffix [for]="scheduler"></mat-datepicker-toggle>
        <mat-datepicker #scheduler></mat-datepicker>
    </mat-form-field>
  </form>


    <form fxLayout="column" fxLayoutGap= "10px" fxLayoutAlign="center center"> 
      <mat-form-field>
        <input
        matInput placeholder="Appointment Time" 
        [ngxTimepicker]="toggleIcon" [disableClick]="true" 
        readonly>
            <ngx-material-timepicker-toggle matSuffix [for]="toggleIcon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="25px" height="25px" ngxMaterialTimepickerToggleIcon>
                    <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
                </svg>
            </ngx-material-timepicker-toggle>
            <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
      </mat-form-field>
      <button type="submit" mat-raised-button color="accent"> Book It! </button>      
    </form>     
    

  